* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

main {
    background-color: fuchsia;
    height: 80vh;
}

footer {
    background-color: rgb(80, 255, 121);
    height: 10vh;
}